*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
.box{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 40px;
    display: flex;
    background-color: aquamarine;
    box-shadow: 30px -30px 20px rgba(0,0,0,0.5);
}